/* Experiencia Académica*/

section.academic{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px;
    gap: 32px;

    width: 1850px;
    height: 450px;

    

    background: #EAF2FD;
    margin-bottom: 32px;
}

.academic__title{
    width: fit-content;
    height: 38px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    

    text-align: center;

    

    color: #464646;
}

.academic__courses{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 63px;
    width: 1338px;
    height: 347px;
}

.academic__courses__box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 420px;
    height: 347px;

}

.academic__courses__item__img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;

    width: 368px;
    height: 286px;

   

    background: #FFFFFF;
}

.academic__courses__item__title h4{
    width: fit-content;
    height: 30px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
   

    margin-top: 14px;
   

    color: #464646;
}


.academic__courses__item__subtitle p{
    width: fit-content;
    height: 19px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  
    color: #464646;
}

 