/*footeer*/

section.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 10px;

    width: 1940px;
    height: 102px;



    background: #FFFFFF;
   
}

.footer__rodape{
    width: 229px;
    height: 38px;
}

.footer p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
 

    color: #464646;
}


